<h1>Listing todofukens</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todofukens.each do |todofuken| %>
      <tr>
        <td><%= todofuken.name %></td>
        <td><%= link_to 'Show', todofuken %></td>
        <td><%= link_to 'Edit', edit_todofuken_path(todofuken) %></td>
        <td><%= link_to 'Destroy', todofuken, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todofuken', new_todofuken_path %>
