<h1>Listing shichosons</h1>

<table>
  <thead>
    <tr>
      <th>Todofuken</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shichosons.each do |shichoson| %>
      <tr>
        <td><%= shichoson.todofuken %></td>
        <td><%= shichoson.name %></td>
        <td><%= link_to 'Show', shichoson %></td>
        <td><%= link_to 'Edit', edit_shichoson_path(shichoson) %></td>
        <td><%= link_to 'Destroy', shichoson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shichoson', new_shichoson_path %>
